* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4c4d5e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: center;
  width: 80%;
  height: 95vh;
  margin: 20px auto;
  animation-name: move, show;
  animation-duration: 2s, 2s;
  animation-delay: 0s 2s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in-out, ease-in; 
  transform: translateY(1000px);
}



.card-filled {
  background-image: url('http://source.unsplash.com/random/200x200');
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 5%;
}

.cards-empty {
  width: 210px;
  height: 210px;
  border: 5px dashed #ccc;
  border-radius: 5%;
  background-color: #f6f4ef;
}

.hold {
  border: 4px solid salmon;
}

.hovered {
  background-color: #611dcd;
  border-style: solid;
  box-shadow: 15px 15px 15px rgba(124, 214, 85, 0.15);
}

.invisible {
  display: none;
}

@keyframes move {
  to {
    transform: translateY(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
