* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  animation-name: move, show;
  animation-duration: 2s, 2s;
  animation-delay: 0s 2s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease-in-out, ease-in; 
  transform: translateY(1000px);
}

img {
  width: fit-content;
  height: 15em;
   opacity: 0.9; 
  border-radius: 5%;
  /* margin: 0 2em; */
}

.cards {
  width: 10em;
  height: 15em;
  border: 2px dashed #ccc;
  border-radius: 5%;
  background-color: #f6f4ef;
}

@keyframes move {
  to {
    transform: translateY(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
